<iframe id="my_iframe" style="display:none;"></iframe>

<div class="row" style="margin-bottom: 18px;">
  <div class="col-xs-6">
    <div align="left">
      <a href="#/patients" class="btn btn-default">
        <i class="glyphicon glyphicon-arrow-left"></i>
        All Patients
      </a>
    </div>
  </div>

  <div class="col-xs-6 text-right">
    <a ng-href="/patients/{{patient.id}}.zip" class="btn btn-default">
      <i class="glyphicon glyphicon-download-alt"></i>
      Download All
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="section-header">Patient Info</h4>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">ID</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('patientID')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('lastName')}}, {{patient.get('firstName')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">DOB</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('patientDOB')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Phone</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('phoneNumber')}}</p>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h4 class="section-header">Exam Info</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">Exam</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('examID')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">CellScope</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('cellscope')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">User</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('user')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Study</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('study')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Date</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('examDate')}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Notes</label>
        <div class="col-xs-10">
          <p class="form-control-static">{{patient.get('notes')}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-12">
    <h4 class="section-header text-center">OD</h4>
  </div>
</div>

<div class="row" align="center">
  <div class="col-md-1">
    <!--MARGIN-->
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Superior</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OD.superior">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Nasal</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OD.nasal">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Central</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OD.central">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Temporal</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OD.temporal">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Inferior</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OD.inferior">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-md-1">
    <!--MARGIN-->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="section-header text-center">OS</h4>
  </div>
</div>

<div class="row" align="center">
  <div class="col-md-1">
    <!--MARGIN-->
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Superior</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OS.superior">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Nasal</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OS.nasal">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Central</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OS.central">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Temporal</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OS.temporal">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
    <h4 class="section-header text-center">Inferior</h4>
    <div class="row eye-image" ng-repeat="eyeImage in images.OS.inferior">
      <a href="#/patients/{{patient.id}}/images/{{eyeImage.id}}">
        <img class="img-responsive img-rotate" ng-src="{{eyeImage.thumbnailUrl()}}">
      </a>
    </div>
  </div>

  <div class="col-md-1">
    <!--MARGIN-->
  </div>
</div>

