<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Ocular CellScope</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Ocular CellScope Data Portal</h1>
    <div class="header"></div>
    <div class="page"></div>
  </div>

  <script type="text/template" id="patient-list-template">
    <div class="row">
      <div class="col-md-4">
        <h4> Study
          <select id="studySelect">
            <option>All</option>
            <% _.each(studies, function(study) { %>
               <% if(study == selected) {%>
                  <option selected><%= study %></option>
               <% } else{ %>
                  <option><%= study %></option>
                <% }%>
            <% }); %>
          </select>
        </h4>
      </div>

      <div class="col-md-4">
        <h4 class="sort"> Sort By: 
        <select>
          <option value="date">Date</option>
          <option value="name">Name</option>
          <option value="id">ID</option>
        </select>
        </h4>
      </div>
    </div>

    <table class="table table-striped table-hover">  
      <thead>
        <tr>
          <th>Patient ID </th>
          <th>Patient Name</th>
          <th>CellScope</th>
          <th>Exam #</th>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% _.each(patients, function(patient) { %>
          <tr>
            <td>
              <a href="#patient/<%= patient.id %>">
                <p><%= patient.get("patientID") %></p>
              </a>
            </td>

            <td>
              <a href="#patient/<%= patient.id %>">
              <p><%= patient.get('lastName')%>, <%= patient.get('firstName') %></p>
              </a>
            </td>

            <td>
              <a href="#patient/<%= patient.id %>">
                <p><%= patient.get('cellscope') %></p>
              </a>
            </td>

            <td>
              <a href="#patient/<%= patient.id %>">
                <p><%= patient.get('examID') %></p>
              </a>
            </td>

            <td>
              <a href="#patient/<%= patient.id %>">
                <p><%= patient.get('user') %></p>
              </a>
            </td>
            
            <td>
              <a href="#patient/<%= patient.id %>">
                <p><%= patient.get('examDate') %></p>
              </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <h1 class="row" id="next"><u>Next</u></h1>
  </script>

  <script type="text/template" id="exam-template">
    <iframe id=my_iframe style='display:none;'></iframe>
    
    <div class="row">
      <div class="col-md-10">
        <div align="left"> <a href="#"><u>Home</u></a> </div>
      </div>

      <div class="col-md-2">
        <div align="right" id="downloadAll"><a><u>Download All</u></a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Patient Info</h2>
        ID: <%=patient.get("patientID")%> <br>
        Name: <%=patient.get("lastName")%>, <%=patient.get("firstName")%> <br>
        DOB: <%=patient.get("patientDOB")%> <br>
        Phone: <%=patient.get("phoneNumber")%> <br>
      </div>

      <div class="col-md-6">
        <h2>Exam Info</h2>
        Exam #: <%=patient.get("examID")%> <br>
        CellScope: <%=patient.get("cellscope")%> <br>
        User: <%=patient.get("user")%> <br>
        Study: <%=patient.get("study")%> <br>
        Date: <%=patient.get("examDate")%> <br>
        Notes: <%=patient.get("notes")%> <br>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-12">
      <h2 align="center">OD</h2>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-xs-1">
        <!--MARGIN-->
      </div>

      <div class="col-xs-2">
        Superior   
        <% _.each(images.OD.Superior, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
            else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Nasal
        <% _.each(images.OD.Nasal, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
             else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Central
        <% _.each(images.OD.Central, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
             else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Temporal
        <% _.each(images.OD.Temporal, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Inferior
        <% _.each(images.OD.Inferior, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-1">
        <!--MARGIN-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      <h2 align="center">OS</h2>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-xs-1">
        <!--MARGIN-->
      </div>

      <div class="col-xs-2">
        Superior   
        <% _.each(images.OS.Superior, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Nasal
        <% _.each(images.OS.Nasal, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Central
        <% _.each(images.OS.Central, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Temporal
        <% _.each(images.OS.Temporal, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>

      <div class="col-xs-2">
        Inferior
        <% _.each(images.OS.Inferior, function(eyeImage) { %>
          <div class="row"> 
            <br>  
            <% var href1 = patient.id %>
            <% var href2 = eyeImage.id %>
            <a href="#patient/<%=href1%>/image/<%=href2%>">
            <% var tn = eyeImage.get("Thumbnail"); %>
            <% if (tn == undefined) {var url = eyeImage.get("Image").url();} 
               else {var url = tn.url();} %>
            <img class="img-responsive" id="rotate" src="<%=url%>">
            </a>
          </div>
          <br>
          <br>
        <% }); %>
      </div>
    </div>
  </script>

  <script type="text/template" id="image-template">
    <div class="row">
      <div class="col-xs-9">
        <h1>
        <% var url=eyeImage.get("Image").url() %>
        <img class="img-responsive" id="rotatePlus" src="<%=url%>">
        </h1>  
      </div>

      <div class="col-xs-3">
        <h4><u>Patient</u></h4>
        ID: <%=patient.get("patientID")%> <br>
        Name: <%=patient.get("lastName")%>, <%=patient.get("firstName")%> <br>
        DOB: <%=patient.get("patientDOB")%> <br>
        Phone: <%=patient.get("phoneNumber")%> <br>

        <h4><u>Exam</u></h4>
        Exam #: <%=patient.get("examID")%> <br>
        CellScope: <%=patient.get("cellscope")%> <br>
        User: <%=patient.get("user")%> <br>
        Study: <%=patient.get("study")%> <br>
        Date: <%=patient.get("examDate")%> <br>

        <h4><u>Photo</u></h4>
        Eye: <%= eyeImage.get("Eye") %> <br>
        Position: <%= eyeImage.get("Position") %> <br>
        Illumination: <%= eyeImage.get("illumination") %> <br>
        Focus: <%= eyeImage.get("focus") %> <br>
        Exposure: <%= eyeImage.get("exposure") %> <br>
        ISO: <%= eyeImage.get("iso") %> <br>
        White Bal.: <%= eyeImage.get("whiteBalance") %> <br>
        Flash Duration: <%= eyeImage.get("flashDuration") %> <br>
        Flash Delay: <%= eyeImage.get("flashDelay") %> <br>
        App Version: <%= eyeImage.get("appVersion") %><br>

        <br>
        <h4><a download="<%= eyeImage.get("Image") %>" href="<%=url%>"><u>Download Image</u></a></h4>
      </div>
    </div>
  </script>

  <script type="text/template" id="patient-detail-template">
    <h1>Hello, <%=patient.get("firstName") %></h1>
  </script>

  <script type="text/template" id="login-template">
    <header id="header"></header>
    <div class="login">
      <form class="login-form">
        <h3>Log In</h3>
        <div class="error" style="display:none"></div>
        <div>
          <input type="text" id="login-username" placeholder="Username" />
        </div>
        <div>
          <input type="password" id="login-password" placeholder="Password" />
        </div>
        <button>Log In</button>
      </form>
    </div>
  </script>

  <script type="text/template" id="header-template">
    <div align="right">
      <%=Parse.User.current().escape("username")%> | <span class="log-out"> <i><u> Logout </u></i> </span>
    </div>
  </script>

  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.3.0.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="js/ocs.js"></script>
</body>

</html>
