body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2{
  background-color:#009854;
  color:#FFFFFF;
  text-align:center;
}

p{
  padding-left:2em;
}

a{
  color:#009854;
}

#rotate {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 transform: rotate(90deg);
}

#rotatePlus {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 transform: rotate(90deg);
 padding-left:10%;
 padding-top: 10%;
}

/*** Bootstrap Fixes ***/
.input-group-addon.input-group-addon-select:first-child {
  z-index:      2;
  position:     relative;
  border-right: 1px solid #ccc;
}

.input-group .form-control.select-with-addon {
  min-width:   172px;
  margin-left: -4px;
  z-index:     1;
}

