<!DOCTYPE html>
<html ng-app="ocs">
<head>
  <meta charset="utf-8">

  <title>Ocular CellScope</title>
  <meta name="description" content="Ocular CellScope web interface">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
</body>
</html>

